<p id="notice"><%= notice %></p>

<h1>Menus</h1>

<%= form_with(model: @menu, local: true ) do |form| %>
<table class="menu-index" >
  <thead>
    <tr>
      <th><%= t 'menus.name' %></th>
      <th colspan="3"></th>
    </tr>
    <tr >
      <td class="entry" >
        <%= form.text_field :name, id: :menu_name,
          onInput: "menus.updateSubmitButtonStatus(this, 'submit');" %>
      </td>
      <td colspan="2" >
        <%= form.submit id: :submit, disabled: @menu.name.blank?,
            class: 'button-new-inline' %>
      </td>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= link_to t('Show'), menu,
                class: 'link-show-inline' %></td>
        <td><%= link_to t('Edit'), edit_menu_path(menu),
                class: 'link-edit-inline' %></td>
        <% if Rails.env.development? %>
        <td><%= link_to t('Destroy'), menu,
                class: 'button-destroy-inline',
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<!--
<%= link_to t('New'), new_menu_path, class: 'link-new' %>
-->
