<p id="notice"><%= notice %></p>

<h1>Menus</h1>

<%= form_with(model: @menu, local: true ) do |form| %>
<table class="menu-index" >
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
		<tr >
			<td >
				<%= form.text_field :name, id: :menu_name,
					onInput: "menus.updateSubmitButtonStatus(this, 'submit');" %>
			</td>
			<td colspan="3" >
				<%= form.submit disabled: @menu.name.blank?, id: :submit %>
			</td>
		</tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= link_to t('Show'), menu %></td>
        <td><%= link_to t('Edit'), edit_menu_path(menu) %></td>
        <td><%= link_to t('Destroy'), menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Menu', new_menu_path %>
