<p id="notice"><%= notice %></p>

<h1>Names</h1>

<table id="names-index" >
  <thead>
    <tr>
      <th><%= t 'names.value' %></th>
      <th class="center checkbox" ><%= t 'names.is_shamei' %></th>
      <th class="center checkbox" ><%= t 'names.is_sitenmei' %></th>
      <th class="center checkbox" ><%= t 'names.is_sei' %></th>
      <th class="center checkbox" ><%= t 'names.is_mei' %></th>
      <th class="center checkbox" ><%= t 'names.is_title' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @names.each do |name| %>
      <tr>
        <td><%= name.value %></td>
        <td class="center" ><%= check_box_tag :is_shamei, true, name.is_shamei %></td>
        <td class="center" ><%= check_box_tag :is_sitenmei, true, name.is_sitenmei %></td>
        <td class="center" ><%= check_box_tag :is_sei, true, name.is_sei %></td>
        <td class="center" ><%= check_box_tag :is_mei, true, name.is_mei %></td>
        <td class="center" ><%= check_box_tag :is_title, true, name.is_title %></td>
        <td><%= link_to t('Show'), name,
                class: 'link-show-inline' %></td>
        <td><%= link_to t('Edit'), edit_name_path(name),
                class: 'link-edit-inline' %></td>
        <td><%= link_to t('Destroy'), name,
                class: 'button-destroy-inline',
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="pager" >
<%= paginate @names %>
</div>

<br>

<%= link_to t('New'), new_name_path, class: 'link-new' %>
