<p id="notice"><%= notice %></p>

<h1>Names</h1>

<div class="d-flex flex-row" >
<table id="names-index" >
  <thead>
    <tr>
      <th><%= t 'names.value' %></th>
      <th class="center checkbox" ><%= t 'names.is_shamei' %></th>
      <th class="center checkbox" ><%= t 'names.is_sitenmei' %></th>
      <th class="center checkbox" ><%= t 'names.is_sei' %></th>
      <th class="center checkbox" ><%= t 'names.is_mei' %></th>
      <th class="center checkbox" ><%= t 'names.is_title' %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @names.each do |name| %>
      <tr id="name-<%= name.id %>" >
<%= render 'name_line', name: name %>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="list-container" class="flex-fill" >
  <div id="name-list" >
  </div>
  <div id="phone-list" >
  </div>
</div>
</div>

<div id="pager" >
<%= paginate @names %>
</div>

<br>

<%= link_to t('New'), new_name_path, class: 'link-new' %>
