<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'names.value' %>:</strong>
  <%= @name.value %>
</p>

<p>
  <strong><%= t 'names.is_shamei' %>:</strong>
  <%= @name.is_shamei %>
</p>

<p>
  <strong><%= t 'names.is_sitenmei' %>:</strong>
  <%= @name.is_sitenmei %>
</p>

<p>
  <strong><%= t 'names.is_sei' %>:</strong>
  <%= @name.is_sei %>
</p>

<p>
  <strong><%= t 'names.is_mei' %>:</strong>
  <%= @name.is_mei %>
</p>

<p>
  <strong><%= t 'names.is_title' %>:</strong>
  <%= @name.is_title %>
</p>

<%= link_to t('Edit'), edit_name_path(@name), class: 'link-edit' %> |
<%= link_to t('Back'), names_path, class: 'link-back' %>
