<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% colspan = 4 %>
<table class="order-form" >
  <caption >ご予約伝票</caption>
<tbody >
  <tr >
    <th class="field">
    <%= form.label :number %>
    </th>
    <td class="filed" colspan="<%= colspan %>" >
    <%= form.text_field :number, id: :order_number, size: 8, class: 'numeric no-spin-button ui', readonly: true %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    <%= form.label :menu_id %>
    </th>
    <td class="field" >
    <%= form.text_field :menu_id, id: :order_menu_id %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    <%= form.label :revision %>
    </th>
    <td class="field" >
    <%= form.text_field :revision, id: :order_revision %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    <%= form.label :buyer_id %>
    </th>
    <td >
    <%= form.text_field :buyer_id, id: :order_buyer_id %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    <%= form.label :due_datenum %>
    </th>
    <td >
    <%= form.number_field :due_datenum, id: :order_due_datenum %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    <%= form.label :total_price %>
    </th>
    <td >
    <%= form.number_field :total_price, id: :order_total_price %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    <%= form.label :amount_paid %>
    </th>
    <td >
    <%= form.number_field :amount_paid, id: :order_amount_paid %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    </th>
    <td >
    <%= form.text_field :payment, id: :order_payment %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    </th>
    <td >
    <%= form.text_field :means, id: :order_means %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    </th>
    <td >
    <%= form.text_field :state, id: :order_state %>
    </td>
  </tr>
  <tr class="hidden" >
    <th >
    </th>
    <td >
    <%= form.text_field :state_symbol, id: :order_state_symbol %>
    </td>
  </tr>
  <tr >
    <th class="field">
    <%= form.label :name %>
    </th>
    <td class="field">
    <%= form.text_field :name, id: :order_name, size: 32,
        class: 'mandatory ui', autocomplete: 'off' %>
    </td>
    <td class="honorific" >
    様
    </td>
    <th class="field">
    <%= form.label :phone %>
    </th>
    <td class="field order_phone">
    <%= form.text_field :phone, id: :order_phone, size: 16, type: :tel,
        class: 'mandatory ui', autocomplete: 'off' %>
    </td>
  </tr>
  <tr >
    <th class="field">
    <%= form.label :address %>
    </th>
    <td class="field" colspan="<%= colspan %>" >
    <%= form.text_field :address, id: :order_address,
        class: 'optional ui', autocomplete: 'off' %>
    </td>
  </tr>
  <tr >
    <th class="field">
    <%= form.label :due %>
    </th>
    <td class="field" colspan=<%= colspan - 1 %> >
    <!-- input の type を指定すれば，ime-mode は自動調整されるが，size は
         効かなくなり，css の width で指定する必要が出て来る． -->
    <% nd = 4 %>
    <%= form.text_field :due_year, id: :due_year, type: :number, size: nd,
        class: 'mandatory due no-spin-button center hidden' %><!-- 年 -->
    <%= form.text_field :due_month, id: :due_month, type: :number, size: nd,
        class: 'ui mandatory due no-spin-button center' %> 月
    <%= form.number_field :due_day, id: :due_day, type: :number, size: nd,
        class: 'ui mandatory due center', min: 1, max: 31 %> 日
    （ <span id="due_wday" class="mandatory" ><%= order.due_wday %></span> ）
    <%= form.text_field :due_hour, id: :due_hour, type: :number, size: nd,
        class: 'ui mandatory due no-spin-button center' %> 時
    <!-- minute の type を number にすると，"00" と表示できなくなる．-->
    <%= form.text_field :due_min, id: :due_minute, type: :text, size: nd,
        class: 'ui mandatory due no-spin-button center' %> 分
    </td>
    <td class="numeric" >
    <% if order.created_at.present? %>
    受付日時：<%= order.created_at.localtime.strftime('%Y-%m-%d %H:%M') %>
    <% end %>
    </td>
  </tr>
</tbody>
<tfoot class="hidden" >
  <tr >
    <td colspan="<%= 1 + colspan -%>" >
    <% order.current_line_items.each do |line_item| %>
      <%= hidden_field_tag 'reserved-%d' % [line_item.product_id], line_item.quantity %>
    <% end %>
    </td>
  </tr>
</tfoot>
</table>

<div class="order-lineitems" >
<% n_lines = Order::N_LINES %>
<% nd_count = 4 %>
<table class="order-lineitems" >
<thead >
  <tr >
    <th >商品名</th>
    <th >サイズ</th>
    <th >数量</th>
    <th >限定</th>
    <th >金額</th>
    <th ></th>
    <th >備考</th>
  </tr>
</thead>
<% num_cols = 7 %>
<tbody >
  <tr id="line_note" >
  <% (1 ... num_cols).each do |i| %>
    <td class="empty-cell" >
    </td>
  <% end %>
    <td class="field text_area" rowspan=<%= 1 + n_lines %> >
    <%= form.text_area :note, id: :order_note, class: 'ui', size: '20x6' %>
    </td>
  </tr>
  <% i = -1 %>
  <%= form.fields_for :line_items, order.current_line_items(n_lines, @line_items) do |item| %>
    <% i += 1 %>
  <tr class="line_item" id="line_<%= i %>" index="<%= i %>" >
    <td >
    <%= item.hidden_field :id, class: 'id' %>
    <%= item.hidden_field :revision, class: 'revision' %>
    <%= item.hidden_field :product_id, class: 'product_id' %>
    <%= item.hidden_field :product_price, class: 'product_price' %>
    <%= item.hidden_field :product_remain, class: 'product_remain' %>
    <%= item.hidden_field :total_price, class: 'total_price' %>
    <%= item.text_field :product_name, class: 'product_name ui',
        size: 30, readonly: true,
        onFocus: "orders.select_row(this);" %>
    </td>
    <td >
    <%= item.text_field :product_size, class: 'product_size ui center',
        size: 20, readonly: true,
        onFocus: "orders.select_row(this);" %>
    </td>
    <td >
    <%= item.text_field :quantity, class: 'quantity ui numeric',
        size: nd_count, autocomplete: 'off',
        onFocus: "orders.select_row(this);" %>
    </td>
    <td >
    <%= item.text_field :product_remain_delimited,
        class: 'product_remain_delimited ui numeric delimited',
        size: nd_count, tabindex: -1, readonly: true %>
    </td>
    <td >
    <%= item.text_field :total_price_delimited,
        class: 'total_price_delimited ui numeric delimited',
        size: 1, tabindex: -1, readonly: true %>
    </td>
    <td >
    <span class="clear-button invisible" >X</span>
    </td>
  </tr>
  <% end %>
</tbody>
<tfoot >
  <% num_rows = 10 %>
  <tr class="fixed-height" id="line_order_total" >
    <td rowspan="<%= num_rows %>" colspan="3" class="message-panel current-panel message" >
      <%= text_area_tag :message, @message %>
    </td>
    <td rowspan="<%= num_rows %>" colspan="3" class="address-panel hidden" >
住所はキーボードで入力して下さい．
    </td>
    <td rowspan="<%= num_rows %>" colspan="1" class="phone-panel hidden selector area_code_selector" >
<%= render 'area_code_selector' %>
    </td>
    <td rowspan="<%= num_rows %>" colspan="2" class="phone-panel hidden selector numbers_selector" >
<%= render 'numbers_selector' %>
    </td>
    <td rowspan="<%= num_rows %>" colspan="3" class="datetime-panel hidden selector datetime_selector" >
<%= render 'datetime_selector' %>
    </td>
    <td rowspan="<%= num_rows %>" class="item-panel hidden" >
      <div class="selector title_page_selector" >
<%= render 'title_page_selector' %>
      </div>
      <div class="selector title_selector" >
<%= render 'title_selector' %>
      </div>
    </td>
    <td rowspan="<%= num_rows %>" class="item-panel hidden" >
      <div class="selector title_page_selector" >
      </div>
      <div class="selector product_selector" >
<%= render 'product_selector' %>
      </div>
    </td>
    <td rowspan="<%= num_rows %>" class="item-panel hidden" >
      <div class="selector title_page_selector" >
      </div>
      <div class="selector quantity_selector" >
<%= render 'quantity_selector' %>
      </div>
    </td>
    <th class="base-panel" >
    <%= form.label :total_price %>
    </th>
    <td class="field base-panel order_total_price" >
    <%= form.text_field :total_price_delimited,
        id: :order_total_price_delimited, class: 'order_total_price ui numeric',
        size: 6, readonly: true %>
    </td>
    <th class="base-panel" >
    <label class="currency" >円</label>
    </th>
    <td rowspan="<%= num_rows %>" class="base-panel phrases" >
    <% @phrases.each do |phrase| %>
      <%= form.button phrase, type: 'button',
          class: 'phrase ui btn btn-sm btn-outline-secondary',
          onClick: "orders.select_phrase(this, '#order_note');" %><br />
    <% end %>
    </td>
    <td rowspan="<%= num_rows %>" colspan="<%= num_cols -%>" class="kana-panel hidden" >
<%= render 'kana_panel' -%>
    </td>
  </tr>
  <% invisible = (order.amount_paid.present? and order.amount_paid != 0 and order.balance.present? and order.balance != 0) ? '' : 'invisible' %>
  <tr class="base-panel fixed-height balance <%= invisible -%>" >
    <th >
    <%= form.label :balance %>
    </th>
    <td class="balance" >
    <%= form.hidden_field :balance, id: :order_balance %>
    <%= form.text_field :balance_delimited, id: :order_balance_delimited,
        class: 'order_balance_delimited numeric delimited',
        size: 1, readonly: true %>
    </td>
    <th >
    <label class="currency" >円</label>
    </th>
  </tr>
  <tr class="base-panel fixed-height" >
    <th class="field">
    <%= form.label :payment %>
    </th>
    <td colspan="2" class="payment" >
    <% s = Order::PAYMENT_YET %>
    <%= form.radio_button :payment, s, checked: (order.payment == s),
        id: 'order_payment_yet', class: 'order_payment order_payment_yet ui'
    %><span class='order_payment order_payment_yet' > <%= s %></span>
    ・
    <% s = Order::PAYMENT_DONE %>
    <%= form.radio_button :payment, s, checked: (order.payment == s),
        id: 'order_payment_done', class: 'order_payment order_payment_done ui'
    %><span class='order_payment order_payment_done' > <%= s %></span>
    </td>
  </tr>
  <tr class="base-panel fixed-height" >
    <th class="field">
    <%= form.label :means %>
    </th>
    <td colspan="2" class="means" >
    <% s = Order::MEANS_PHONE %>
    <%= form.radio_button :means, s, checked: (order.means == s),
        class: 'order_means order_means_phone ui'
    %><span class="order_means order_means_phone" > <%= s %></span>
    ・
    <% s = Order::MEANS_STORE %>
    <%= form.radio_button :means, s, checked: (order.means == s),
        class: "order_means order_means_store ui"
    %><span class="order_means order_means_stroe" > <%= s %></span>
    </td>
  </tr>
<% if not (order.cancelled? or order.delivered?) %>
  <tr class="base-panel fixed-height" >
    <th >
    </th>
    <td colspan="2" class="actions" >
    <%= form.submit id: :submit, disabled: true,
        class: 'btn btn-sm btn-primary' %>
    </td>
  </tr>
<% end %>
<% if order.reserved? %>
  <tr class="base-panel fixed-height" >
    <th >
    </th>
    <td colspan="2" class="actions" >
    <%= form.submit t('.Deliver'), id: :deliver, name: :deliver,
        class: 'btn btn-sm btn-success',
        disabled: (not order.deliverable?) %>
    </td>
  </tr>
  <tr class="base-panel fixed-height" >
    <th >
    </th>
    <td colspan="2" class="actions" >
    <%= form.submit t('.Cancel'), id: :cancel, name: :cancel,
        class: 'btn btn-sm btn-danger',
        data: { confirm: 'この予約を取消しますか？' } %>
    </td>
  </tr>
<% end %>
<% if order.cancelled? %>
  <tr class="base-panel fixed-height" >
    <th >
    </th>
    <td colspan="2" class="actions" >
    <%= form.submit t('.Revert'), id: :revert, name: :revert,
        class: 'ui btn btn-sm btn-success', disabled: true %>
    </td>
  </tr>
  <tr class="base-panel fixed-height" >
    <th >
    </th>
    <td colspan="2" class="unlock" >
      <%= check_box_tag :unlock, true, false, {id: :unlock} %>ロック解除
    </td>
  </tr>
<% end %>
  <tr class="base-panel" >
    <th >
    </th>
    <td >
    </td>
  </tr>
</tfoot>
</table>
<div class="names-panel hidden" id="names-panel" >
</div>
</div>

<% end %>

<%= form_with(url: names_orders_path, method: :get, html: { autocomplete: :off, class: 'hidden', } ) do |form| %>
<%= form.text_field :name, id: 'name_field' %>
<%= form.submit '更新', id: :update_names, format: :js %>
<% end %>
