<% if order.total_price.present? %>
<%   order.total_price = number_with_delimiter(order.total_price) %>
<% end %>
<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% colspan = 4 %>
<table class="order-form" >
	<caption >ご予約伝票</caption>
<tbody >
	<tr >
		<td class="field">
    <%= form.label :number %>
		</td>
		<td class="filed" colspan=<%= colspan %> >
    <%= form.text_field :number, id: :order_number, size: 8, class: 'numeric no-spin-button', readonly: true %>
		</td>
	</tr>
	<tr class="hidden" >
		<td >
    <%= form.label :menu_id %>
		</td>
		<td class="field" colspan=<%= colspan %> >
    <%= form.text_field :menu_id, id: :order_menu_id %>
		</td>
	</tr>
	<tr class="hidden" >
		<td >
    <%= form.label :buyer_id %>
		</td>
		<td >
    <%= form.text_field :buyer_id, id: :order_buyer_id %>
		</td>
	</tr>
	<tr class="hidden" >
		<td >
    <%= form.label :due_datenum %>
		</td>
		<td >
    <%= form.number_field :due_datenum, id: :order_due_datenum %>
		</td>
	</tr>
	<tr class="hidden" >
		<td >
    <%= form.label :amount_paid %>
		</td>
		<td >
    <%= form.number_field :amount_paid, id: :order_amount_paid %>
		</td>
	</tr>
	<tr class="hidden" >
		<td >
    <%= form.label :balance %>
		</td>
		<td >
    <%= form.number_field :balance, id: :order_balance %>
		</td>
	</tr>
	<tr class="hidden" >
		<td >
		</td>
		<td >
    <%= form.text_field :payment, id: :order_payment %>
		</td>
	</tr>
	<tr class="hidden" >
		<td >
		</td>
		<td >
    <%= form.text_field :means, id: :order_means %>
		</td>
	</tr>
	<tr class="hidden" >
		<td >
		</td>
		<td >
    <%= form.text_field :state, id: :order_state %>
		</td>
	</tr>
	<tr >
		<td class="field">
    <%= form.label :name %>
		</td>
		<td class="field">
    <%= form.text_field :name, id: :order_name, size: 30, class: 'mandatory' %>
		</td>
		<td >
		様
		</td>
		<td class="field">
    <%= form.label :phone %>
		</td>
		<td class="field">
    <%= form.text_field :phone, id: :order_phone, class: 'mandatory' %>
		</td>
	</tr>
	<tr >
		<td class="field">
    <%= form.label :address %>
		</td>
		<td class="field" colspan=<%= colspan %> >
    <%= form.text_field :address, id: :order_address %>
		</td>
	</tr>
	<tr >
		<td class="field">
    <%= form.label :due %>
		</td>
		<td class="field" colspan=<%= colspan - 1 %> >
		<% nd = 4 %>
		<%= form.text_field :due_year, size: nd, class: 'mandatory center hidden' %><!-- 年 -->
		<%= form.text_field :due_month, size: nd, class: 'mandatory center' %> 月
		<%= form.text_field :due_day, size: nd, class: 'mandatory center' %> 日
		（ <span id="due_wday" class="mandatory" ><%= order.due_wday %></span> ）
		<%= form.text_field :due_hour, size: nd, class: 'mandatory center' %> 時
		<%= form.text_field :due_min, size: nd, class: 'mandatory center' %> 分
		</td>
		<td class="numeric" >
		<% if order.created_at.present? %>
		受付日時：<%= order.created_at.localtime.strftime('%Y-%m-%d %H:%M') %>
		<% end %>
		</td>
	</tr>
</tbody>
</table>

<% n_lines = Order::N_LINES %>
<% nd_count = 4 %>
<table class="order-lineitems" >
<thead >
	<tr >
		<th >商品名</th>
		<th >サイズ</th>
		<th >数量</th>
		<th >限定</th>
		<th >金額</th>
		<th ></th>
		<th >備考</th>
	</tr>
</thead>
<tbody >
	<tr id="line_note" >
		<td colspan="6" >
		</td>
		<td class="field text_area" rowspan=<%= 1 + n_lines %> >
    <%= form.text_area :note, id: :order_note, size: '20x6' %>
		</td>
	</tr>
	<% i = -1 %>
	<%= form.fields_for :line_items, order.current_line_items do |item| %>
		<% i += 1 %>
	<tr id="line_<%= i %>" >
		<td >
		<%= item.hidden_field :id %>
		<%= item.hidden_field :product_id, class: 'product_id' %>
		<%= item.hidden_field :product_price, class: 'product_price' %>
		<%= item.text_field :product_name, class: 'product_name',
		    size: 30, readonly: true,
		    onFocus: "orders.select_row(this.parentNode.parentNode);" %>
		</td>
		<td >
		<%= item.text_field :product_size, class: 'product_size center',
		    size: 20, readonly: true,
		    onFocus: "orders.select_row(this.parentNode.parentNode);" %>
		</td>
		<td >
		<%= item.text_field :quantity, size: nd_count, class: 'numeric quantity',
		    onFocus: "orders.select_row(this.parentNode.parentNode);" %>
		</td>
		<td >
		<%= item.text_field :product_remain, size: nd_count, class: 'numeric product_remain',
		    tabindex: -1, readonly: true %>
		</td>
		<td >
		<%= item.text_field :total_price_delimited, size: 1, class: 'numeric total_price',
		    tabindex: -1, readonly: true %>
		</td>
	</tr>
	<% end %>
<% # Order.current_line_items でパディングを行なえば，不要な訳だが．．． %>
	<% while i < (n_lines - 1) %>
		<% i += 1 %>
	<tr id="line_<%= i %>" >
		<td >
		<%= form.text_field "product_name[#{i}]", size: 30 %>
		</td>
		<td >
		<%= form.text_field "product_size[#{i}]", size: 20, class: 'center' %>
		</td>
		<td >
		<%= form.text_field "quantity[#{i}]", size: nd_count, class: 'numeric' %>
		</td>
		<td >
		<%= form.text_field "remain[#{i}]", size: nd_count, class: 'numeric', disabled: true %>
		</td>
		<td >
		<%= form.text_field "price[#{i}]", size: 1, class: 'numeric', disabled: true %>
		</td>
	</tr>
	<% end %>
</tbody>
<tfoot >
	<tr >
		<td id="title_page_selector" >
<%= render 'title_page_selector' %>
		</td>
		<td >
		</td>
		<td >
		</td>
		<th class="field">
    <%= form.label :total_price %>
		</th>
		<td class="field">
    <%= form.text_field :total_price, id: :order_total_price, size: 6, readonly: true, class: 'numeric price no-spin-button' %>
		</td>
		<td >
		円
		</td>
		<td class="phrases" rowspan=7 >
			<% Preference.get_value('備考欄の常套句').split(/[\r\n]+/).each do |s| %>
				<%= form.button s, type: 'button', class: 'phrase' %><br />
			<% end %>
		</td>
	</tr>
	<tr id="item_selector" >
		<td rowspan=6 class="selector" >
<%= render 'product_selector' %>
		</td>
		<td rowspan=6 class="selector" >
<%= render 'size_selector' %>
		</td>
		<td rowspan=6 id="quantity_selector" class="selector" >
<%= render 'quantity_selector' %>
		</td>
	</tr>
	<tr >
		<th class="field">
    <%= form.label :payment %>
		</th>
		<td colspan=2 class="payment" >
		<% s = '未' %>
		<%= form.radio_button :payment_yet, s, checked: (order.payment == s) %>
		<%= s %>
		・
		<% s = '済' %>
		<%= form.radio_button :payment_done, s, checked: (order.payment == s) %>
		<%= s %>
		</td>
	</tr>
	<tr >
		<th class="field">
    <%= form.label :means %>
		</th>
		<td colspan=2 >
		<% s = '電話' %>
		<%= form.radio_button :means_phone, s, checked: (order.means == s) %>
		<%= s %>
		・
		<% s = '来店' %>
		<%= form.radio_button :means_store, s, checked: (order.means == s) %>
		<%= s %>
		</td>
	</tr>
	<tr >
		<th class="field">
    <%= form.label :state %>
		</th>
		<td >
		</td>
		<td >
		</td>
	</tr>
	<tr >
		<td >
		</td>
		<td class="actions">
    <%= form.submit id: :submit, disabled: true %>
		</td>
	</tr>
	<tr >
		<td >
			<br/>
		</td>
	</tr>
</tfoot>
</table>

<% end %>
