<div class="orders-summary-container" >
<div class="orders-summary-bydate-container" >
<div class="caption" >
<% if @summary[:type] == 'time' %>
  <div class="buttons no-print" >
  <%= link_to Order::SUMMARY_BYDATE, summary_orders_path,
      class: 'btn btn-outline-secondary' %>
  <%= link_to Order::SUMMARY_BYTIME_LINEITEMS, undeliver_orders_path(due_date: @summary[:due_date]),
      class: 'btn btn-outline-primary', style: 'position: absolute; right: 0;' %>
  </div>
<% end %>
  <table id="orders-summary-bydate-caption" >
    <caption ><%= @summary[:caption] %></caption>
  </table>
</div>
<div id="orders-summary-bydate" >
  <div id="orders-summary-bydate-left" >
<table class="orders-summary-bydate" >
  <thead >
    <tr >
      <th class="empty" >&nbsp;</th>
      <th rowspan=2" >商品名</th>
      <th rowspan=2" >サイズ</th>
    </tr>
    <tr >
      <th class="empty" >&nbsp;</th>
    </tr>
  </thead>
  <tbody >
  <% reset_cycle %>
  <% @summary[:products].each do |product| %>
    <% count = @summary[:count][product.id] %>
    <tr class="<%= cycle('odd', 'even') %>" >
      <td ></td>
      <td ><%= product.title.name %></td>
      <td class="center" ><%= product.size %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot >
  </tfoot>
</table>
  </div>
  <div id="orders-summary-bydate-center" >
<table class="orders-summary-bydate" >
  <thead >
    <tr >
    <% @summary[:dates].each do |dt| %>
      <!-- <%= dt.to_s %> -->
      <% classes = [@summary[:type]] %>
      <% classes << (dt.is_a?(Date) ? dt.datenum : dt.strftime('%H%M')) %>
      <% if dt == @summary[:previous] %>
        <% classes << "previous" %>
      <% end %>
      <% url = summary_orders_path(dt.is_a?(Date) ? {due_date: dt} : {}) %>
      <th colspan="6" class="<%= classes.join(' ') %> detail" >
      <% if @summary[:type] == 'date' %>
        <%= link_to dt.strftime(@summary[:label_format]), url,
            class: 'btn btn-xs btn-outline-success' %>
      <% else %>
        <%= dt.strftime(@summary[:label_format]) %>
      <% end %>
      </th>
      <th colspan="2" class="<%= classes.join(' ') %> abstruct" >
      <% if @summary[:type] == 'date' %>
        <%= link_to dt.strftime(@summary[:label_format]), url,
            class: 'btn btn-xs btn-outline-success' %>
      <% else %>
        <%= dt.strftime(@summary[:label_format]) %>
      <% end %>
      </th>
    <% end %>
    </tr>
    <tr id="header" >
     <% @summary[:dates].each do |dt| %>
      <% klass = dt.is_a?(Date) ? dt.datenum : dt.strftime('%H%M') %>
      <% attrs = '%snum=%s' % [@summary[:type], klass] %>
      <th class="<%= klass %> detail count reserved" <%= attrs %> >予約</th>
      <th class="<%= klass %> detail" <%= attrs %> >-</th>
      <th class="<%= klass %> detail count delivered" <%= attrs %> >渡済</th>
      <th class="<%= klass %> detail" <%= attrs %> >=</th>
      <th class="<%= klass %> detail count undelivered" <%= attrs %> >未渡</th>
      <th class="<%= klass %> detail" >
        <%= link_to_if @summary[:type] == 'date', '渡残', undeliver_orders_path(due_date: dt) %>
      </th>
      <th class="<%= klass %> abstruct count undelivered" <%= attrs %> >未渡</th>
      <th class="<%= klass %> abstruct" >
        <%= link_to_if @summary[:type] == 'date', '渡残', undeliver_orders_path(due_date: dt) %>
      </th>
     <% end %>
    </tr>
  </thead>
  <tbody >
  <% reset_cycle %>
  <% @summary[:products].each do |product| %>
    <% count = @summary[:count][product.id] %>
    <tr class="<%= cycle('odd', 'even') %>" >
    <% @summary[:dates].each do |dt| %>
      <% klass = dt.is_a?(Date) ? dt.datenum : dt.strftime('%H%M') %>
      <% if count[dt].present? and 0 < count[dt][:reserved] %>
      <td class="<%= klass %> detail numeric count reserved" ><%= count[dt][:reserved] %></td>
      <td class="<%= klass %> detail sign" >-</td>
      <td class="<%= klass %> detail numeric count delivered" ><%= count[dt][:delivered] %></td>
      <td class="<%= klass %> detail sign" >=</td>
      <td class="<%= klass %> detail numeric count undelivered" ><%= count[dt][:undelivered] %></td>
      <% else %>
      <td class="<%= klass %> detail" ></td>
      <td class="<%= klass %> detail" ></td>
      <td class="<%= klass %> detail" ></td>
      <td class="<%= klass %> detail" ></td>
      <td class="<%= klass %> detail" ></td>
      <% end %>
      <td class="<%= klass %> detail numeric" >
        <span class="<%= count[dt][:total_undelivered] <= 0 ? 'invisible' : '' %>" >
        <%= count[dt][:total_undelivered] %></span>
      </td>
      <td class="<%= klass %> abstruct numeric count undelivered" >
        <span class="<%= count[dt][:undelivered] <= 0 ? 'invisible' : '' %>" >
        <%= count[dt][:undelivered] %></span>
      </td>
      <td class="<%= klass %> abstruct numeric" >
        <span class="<%= count[dt][:total_undelivered] <= 0 ? 'invisible' : '' %>" >
        <%= count[dt][:total_undelivered] %></span>
      </td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot >
  </tfoot>
</table>
  </div>
  <div id="orders-summary-bydate-right" >
<table class="orders-summary-bydate" >
  <thead >
    <tr >
      <th rowspan=2" class="count undelivered" >未渡合計</th>
      <th rowspan=2" >予約合計</th>
      <th rowspan=2" >限定残り</th>
      <th rowspan=2" >　限定　</th>
      <th class="empty" >&nbsp;</th>
    </tr>
    <tr >
      <th class="empty" >&nbsp;</th>
    </tr>
  </thead>
  <tbody >
  <% reset_cycle %>
  <% @summary[:products].each do |product| %>
    <% count = @summary[:count][product.id] %>
    <tr class="<%= cycle('odd', 'even') %>" >
      <td class="numeric count undelivered" ><%= count[:total][:undelivered].to_s(:delimited) %></td>
      <td class="numeric" ><%= count[:total][:reserved].to_s(:delimited) %></td>
      <td class="numeric" ><%= product.remain.to_s(:delimited) %></td>
      <td class="numeric" ><%= product.limit.to_s(:delimited) %></td>
      <td ></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot >
  </tfoot>
</table>
  </div>
</div>
</div>
</div>
