<div id="orders-summary-bydate" >
  <div id="orders-summary-bydate-left" >
<table class="orders-summary-bydate" >
  <thead >
    <tr >
      <th class="empty" >&nbsp;</th>
      <th rowspan=2" >商品名</th>
      <th rowspan=2" >サイズ</th>
    </tr>
    <tr >
      <th class="empty" >&nbsp;</th>
    </tr>
  </thead>
  <tbody >
  <% reset_cycle %>
  <% @summary[:products].each do |product| %>
    <% count = @summary[:count][product.id] %>
    <tr class="<%= cycle('odd', 'even') %>" >
      <td ></td>
      <td ><%= product.title.name %></td>
      <td class="center" ><%= product.size %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot >
  </tfoot>
</table>
  </div>
  <div id="orders-summary-bydate-center" >
<table class="orders-summary-bydate" >
  <thead >
    <tr >
    <% @summary[:dates].each do |dt| %>
      <th colspan="7" class="<%= dt.datenum %> date" >
        <%= dt.strftime('%m/%d') %>
      </th>
    <% end %>
    </tr>
    <tr >
     <% @summary[:dates].each do |dt| %>
      <th class="<%= dt.datenum %> detail count-reserved" datenum="<%= dt.datenum %>" >予約</th>
      <th class="<%= dt.datenum %> detail" datenum="<%= dt.datenum %>" >-</th>
      <th class="<%= dt.datenum %> detail count-delivered" datenum="<%= dt.datenum %>" >渡済</th>
      <th class="<%= dt.datenum %> detail" datenum="<%= dt.datenum %>" >=</th>
      <th class="<%= dt.datenum %> detail count-remained" datenum="<%= dt.datenum %>" >未渡</th>
      <th class="<%= dt.datenum %> abstruct count-remained" datenum="<%= dt.datenum %>" >未渡</th>
      <th class="<%= dt.datenum %>" >渡残</th>
     <% end %>
    </tr>
  </thead>
  <tbody >
  <% reset_cycle %>
  <% @summary[:products].each do |product| %>
    <% count = @summary[:count][product.id] %>
    <tr class="<%= cycle('odd', 'even') %>" >
    <% @summary[:dates].each do |dt| %>
      <% if count[dt].present? and 0 < count[dt][:reserved] %>
      <td class="<%= dt.datenum %> detail numeric count-reserved" ><%= count[dt][:reserved] %></td>
      <td class="<%= dt.datenum %> detail sign" >-</td>
      <td class="<%= dt.datenum %> detail numeric count-delivered" ><%= count[dt][:delivered] %></td>
      <td class="<%= dt.datenum %> detail sign" >=</td>
      <td class="<%= dt.datenum %> detail numeric count-remained" ><%= count[dt][:remained] %></td>
      <% else %>
      <td class="<%= dt.datenum %> detail" ></td>
      <td class="<%= dt.datenum %> detail" ></td>
      <td class="<%= dt.datenum %> detail" ></td>
      <td class="<%= dt.datenum %> detail" ></td>
      <td class="<%= dt.datenum %> detail" ></td>
      <% end %>
      <td class="<%= dt.datenum %> abstruct numeric count-remained" >
        <span class="<%= count[dt][:remained] <= 0 ? 'invisible' : '' %>" >
        <%= count[dt][:remained] %></span>
      </td>
      <td class="<%= dt.datenum %> numeric" >
        <span class="<%= count[dt][:total_remained] <= 0 ? 'invisible' : '' %>" >
        <%= count[dt][:total_remained] %></span>
      </td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot >
  </tfoot>
</table>
  </div>
  <div id="orders-summary-bydate-right" >
<table class="orders-summary-bydate" >
  <thead >
    <tr >
      <th rowspan=2" >予約合計</th>
      <th rowspan=2" >限定残り</th>
      <th rowspan=2" >　限定　</th>
      <th class="empty" >&nbsp;</th>
    </tr>
    <tr >
      <th class="empty" >&nbsp;</th>
    </tr>
  </thead>
  <tbody >
  <% reset_cycle %>
  <% @summary[:products].each do |product| %>
    <% count = @summary[:count][product.id] %>
    <tr class="<%= cycle('odd', 'even') %>" >
      <td class="numeric" ><%= count[:total][:reserved].to_s(:delimited) %></td>
      <td class="numeric" ><%= product.remain.to_s(:delimited) %></td>
      <td class="numeric" ><%= product.limit.to_s(:delimited) %></td>
      <td ></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot >
  </tfoot>
</table>
  </div>
</div>
