<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'preferences.name' %>:</strong>
  <%= @preference.name %>
</p>

<p>
  <strong><%= t 'preferences.value' %>:</strong>
  <%= @preference.value %>
</p>

<%= link_to t('Edit'), edit_preference_path(@preference), class: 'link-edit' %> |
<%= link_to t('Back'), preferences_path, class: 'link-back' %>
