<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @preference.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @preference.value %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference), class: 'link-edit' %> |
<%= link_to 'Back', preferences_path, class: 'link-back' %>
