<p id="notice"><%= notice %></p>

<h1>Titles</h1>

<%= form_tag(titles_path, method: :get, remote: true, class: :hidden ) do %>
    <%= text_field :title, :name, id: :index_title_name %>
    <%= submit_tag 'Search', id: :index_title_submit, format: :js %>
<% end %>

<%= form_with(model: @title, local: true ) do |form| %>
<table class="title-index" >
  <thead>
    <tr>
      <th><%= t 'titles.name' %></th>
      <th><%= t 'titles.priority' %></th>
<!--  <th><%= t 'titles.description' %></th> -->
<!--  <th><%= t 'titles.image_url' %></th> -->
      <th colspan="3"></th>
    </tr>
    <tr >
      <td class="entry" >
        <%= form.text_field :name, id: :title_name, autocomplete: 'off',
            onInput: "titles.updateLines(this, 'submit');" %>
      </td>
      <td class="entry" >
        <%= form.number_field :priority, id: :title_priority,
            min: 101, max: 999, step: 1,
            class: 'numeric no-spin-button priority' %>
      </td>
      <td colspan="2" >
        <%= form.submit id: :submit, class: 'button-submit-inline',
            disabled: @title.name.blank? %>
      </td>
    </tr>
  </thead>

  <tbody id="index_tbody" >
<%= render 'index_lines', titles: @titles %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to t('New'), new_title_path, class: 'link-new' %>
