<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'titles.name' %>:</strong>
  <%= @title.name %>
</p>

<p>
  <strong><%= t 'titles.priority' %>:</strong>
  <%= @title.priority %>
</p>

<p>
  <strong><%= t 'titles.description' %>:</strong>
  <%= @title.description %>
</p>

<p>
  <strong><%= t 'titles.image_url' %>:</strong>
  <%= @title.image_url %>
</p>

<%= link_to t('Edit'), edit_title_path(@title), class: 'link-edit' %> |
<%= link_to t('Back'), titles_path, class: 'link-back' %>
