<p id="notice"><%= notice %></p>

<h1>Buyers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= buyer.name %></td>
        <td><%= buyer.phone %></td>
        <td><%= buyer.address %></td>
        <td><%= buyer.customer %></td>
        <td><%= link_to t('Show'), buyer,
                class: 'link-show-inline' %></td>
        <td><%= link_to t('Edit'), edit_buyer_path(buyer),
                class: 'link-edit-inline' %></td>
        <td><%= link_to t('Destroy'), buyer,
                class: 'button-destroy-inline',
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @buyers %>

<br>

<%= link_to 'New Buyer', new_buyer_path, class: 'link-new' %>
