<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @buyer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @buyer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @buyer.address %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @buyer.customer %>
</p>

<%= link_to 'Edit', edit_buyer_path(@buyer), class: 'link-edit' %> |
<%= link_to 'Back', buyers_path, class: 'link-back' %>
