<% if @product.price.present? %>
<%   @product.price = number_with_delimiter(@product.price) %>
<% end %>
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :menu_id %>
    <%= form.collection_select :menu_id, @menus, :id, :name, id: :product_menu_id %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority, id: :product_priority,
      min: 101, max: 999, class: 'numeric no-spin-button' %>
  </div>

  <div class="field">
    <%= form.label :title_id %>
    <%= form.collection_select :title_id, @titles, :id, :name, id: :product_title_id %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :product_size %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price,
      onChange: "products.updatePrice(this);",
      class: 'numeric no-spin-button' %>
  </div>

  <div class="field">
    <%= form.hidden_field :limit, id: :old_limit, name: :old_limit %>
    <%= form.label :limit %>
    <%= form.number_field :limit, id: :product_limit,
      min: -1, class: 'numeric no-spin-button' %>
  </div>

  <div class="field">
    <%= form.label :remain %>
    <%= form.number_field :remain, id: :product_remain,
      min: -1, class: 'numeric no-spin-button', disabled: false %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button-submit' %>
  </div>
<% end %>
