    <% products.each do |product| %>
      <tr>
        <td class="center" ><%= product.menu.name %></td>
				<td class="numeric" ><%= product.title.priority %></td>
        <td><%= product.title.name %></td>
        <td class="center" ><%= product.size %></td>
        <td class="numeric" ><%= number_with_delimiter(product.price, delimiter: ',') %></td>
        <td class="numeric" ><%= product.limit %></td>
        <td class="numeric" ><%= product.remain %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
