<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= form_with(model: @product, method: :get, html: {autocomplete: :off}) do |form| %>
<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th>Title</th>
      <th>Size</th>
      <th>Price</th>
      <th>Limit</th>
      <th>Remain</th>
      <th colspan="3"></th>
    </tr>
		<tr >
			<td ><!-- Title -->
				<%= form.collection_select :menu_id, @menus, :id, :name,
					{ selected: @product.menu.id, id: :product_menu_id },
					{ onChange: "products.updateLines(this);" } %>
			</td>
			<td ><!-- Size -->
			</td>
			<td ><!-- Price -->
			</td>
			<td ><!-- Limit -->
			</td>
			<td ><!-- Remain -->
			</td>
			<td colspan="3" >
				<%= form.submit id: :submit, format: :js, class: :hidden %>
			</td>
		</tr>
  </thead>

  <tbody id="index_tbody" >
<%= render 'index_lines', products: @products %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Product', new_product_path %>
