<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'products.menu' %>:</strong>
  <%= @product.menu.name %>
</p>

<p>
  <strong><%= t 'products.priority' %>:</strong>
  <%= @product.priority %>
</p>

<p>
  <strong><%= t 'products.title' %>:</strong>
  <%= @product.title.name %>
</p>

<p>
  <strong><%= t 'products.size' %>:</strong>
  <%= @product.size %>
</p>

<p>
  <strong><%= t 'products.price' %>:</strong>
  <%= number_with_delimiter(@product.price) %>
</p>

<p>
  <strong><%= t 'products.limit' %>:</strong>
  <%= @product.limit %>
</p>

<p>
  <strong><%= t 'products.remain' %>:</strong>
  <%= @product.remain %>
</p>

<%= link_to t('Edit'), edit_product_path(@product), class: 'link-edit' %> |
<%= link_to t('Back'), products_path, class: 'link-back' %>
