<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @product.menu %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @product.limit %>
</p>

<p>
  <strong>Remain:</strong>
  <%= @product.remain %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
