<p id="notice"><%= notice %></p>

<h1>Line Items</h1>

<table class="line_item-index" >
  <thead>
    <tr>
      <th><%= t '.number' %></th>
      <th><%= t '.revision' %></th>
      <th><%= t '.title' %></th>
      <th><%= t '.size' %></th>
      <th><%= t '.quantity' %></th>
      <th><%= t '.total_price' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td class="center" ><%= line_item.order.number %></td>
        <td class="numeric" ><%= line_item.revision %></td>
        <td><%= line_item.product.title.name %></td>
        <td class="center" ><%= line_item.product.size %></td>
        <td class="numeric" ><%= line_item.quantity %></td>
        <td class="numeric" ><%= number_with_delimiter(line_item.total_price, delimiter: ',' ) %></td>
        <td><%= link_to t('Show'), line_item %></td>
        <td><%= link_to t('Edit'), edit_line_item_path(line_item) %></td>
        <td><%= link_to t('Destroy'), line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="pager" >
<%= paginate @line_items %>
</div>

<br>

<%= link_to 'New Line Item', new_line_item_path %>
