<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'line_items.number' %>:</strong>
  <%= @line_item.order.number %>
</p>

<p>
  <strong><%= t 'line_items.revision' %>:</strong>
  <%= @line_item.revision %>
</p>

<p>
  <strong><%= t 'line_items.title' %>:</strong>
  <%= @line_item.product.title.name %>
</p>

<p>
  <strong><%= t 'line_items.size' %>:</strong>
  <%= @line_item.product.size %>
</p>

<p>
  <strong><%= t 'line_items.quantity' %>:</strong>
  <%= @line_item.quantity %>
</p>

<p>
  <strong><%= t 'line_items.total_price' %>:</strong>
  <%= @line_item.total_price %>
</p>

<%= link_to t('Edit'), edit_line_item_path(@line_item), class: 'link-edit' %> |
<%= link_to t('Back'), line_items_path, class: 'link-back' %>
