<!DOCTYPE html>
<html>
  <head>
    <meta name="turbolinks-cache-control" content="no-cache">
    <title>Yoyaku2018</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" >
      <div class="row" >
        <div class="col-md-2 d-none d-md-block bg-light sidebar no-print" >
          <div class="sidebar-sticky" >
            <ul class="nav flex-column" >
              <li class="nav-item" >
                <%= link_to t('Orders'), orders_path, class: 'nav-link' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('New Order'), new_order_path, class: 'nav-link' -%>
              </li>
            </ul>
            <ul class="nav flex-column shortcut-menu" >
              <li class="nav-item shortcut" >
                <span ><%= t('Order Number') -%></span>
                <input id="order_number" type="number" class="numeric" autocomplete="off" />
              </li>
              <li class="nav-item" >
                <%= link_to t('Show Order'), show_order_orders_path,
                    id: :show_order, class: 'nav-link', remote: true %>
              </li>
              <li class="nav-item" >
                <%= link_to t('Edit Order'), edit_order_orders_path,
                    id: :edit_order, class: 'nav-link', remote: true %>
              </li>
            </ul>
            <ul class="nav flex-column administrative-menu" >
              <li class="nav-item" >
                <%= link_to t('Menus'), menus_path, class: 'nav-link' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('Titles'), titles_path, class: 'nav-link' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('Products'), products_path, class: 'nav-link' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('LineItems'), line_items_path, class: 'nav-link' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('Names'), names_path, class: 'nav-link' -%>
              </li>
              <!--
              <li class="nav-item" >
                <%= link_to t('Buyers'), buyers_path, class: 'nav-link' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('Customers'), customers_path, class: 'nav-link' -%>
              </li>
              -->
              <li class="nav-item" >
                <%= link_to t('Preferences'), preferences_path, class: 'nav-link' -%>
              </li>
            </ul>
            <div id="menu_selector" >
              <%= form_tag(set_current_menus_path, method: :get, ) do |form| %>
                <%= select_tag :menu_id, options_from_collection_for_select(
                    Menu.ordered, :id, :name,
                    session[:menu].present? ? session[:menu]['id'] : Menu.latest.id ),
                    include_blank: true, onchange: 'this.form.submit()'
                %>
              <% end %>
            </div>
            <div id="logo" >
            <% if Rails.env.production? %>
              <img src="/images/PremierLogoColor.png" alt="Premier Logo Color" />
            <% else %>
              <br/>
              <%= Rails.env -%>
            <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4 main" >
<%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
