<!DOCTYPE html>
<html>
  <head>
    <meta name="turbolinks-cache-control" content="no-cache">
    <title><%= Preference.get_title -%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" >
      <div class="row" >
        <div class="col-md-2 d-none d-md-block bg-nature sidebar no-print" >
          <div class="sidebar-sticky" >
            <ul class="nav flex-column" >
              <li class="nav-item" >
                <%= link_to t('Orders'), orders_path, class: 'btn btn-nature' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('New Order'), new_order_path, class: 'btn btn-nature' -%>
              </li>
            </ul>
            <ul class="nav flex-column shortcut-menu" >
              <li class="nav-item" >
                <span ><%= t('Order Number') -%></span>
                <input id="order_number" type="number" class="numeric" autocomplete="off" />
              </li>
              <li class="nav-item" >
                <%= link_to t('Show Order'), show_order_orders_path,
                    id: :show_order, class: 'btn btn-nature', remote: true %>
              </li>
              <li class="nav-item" >
                <%= link_to t('Edit Order'), edit_order_orders_path,
                    id: :edit_order, class: 'btn btn-nature', remote: true %>
              </li>
            </ul>
            <ul class="nav flex-column administrative-menu" >
              <li class="nav-item" >
                <% today = Time.zone.today %>
                <%= link_to t('Summary'),
                    (session[:menu].blank? or Order.of(session[:menu]['id']).on(today.datenum).count <= 0) ? summary_orders_path : summary_orders_path(due_date: today),
                    class: 'btn btn-nature' -%>
              </li>
            </ul>
            <ul class="nav flex-column administrative-menu" >
              <li class="nav-item" >
                <%= link_to t('Menus'), menus_path, class: 'btn btn-nature' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('Titles'), titles_path, class: 'btn btn-nature' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('Products'), products_path, class: 'btn btn-nature' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('Names'), names_path, class: 'btn btn-nature' -%>
              </li>
              <!--
              <li class="nav-item" >
                <%= link_to t('Buyers'), buyers_path, class: 'btn btn-nature' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('Customers'), customers_path, class: 'btn btn-nature' -%>
              </li>
              -->
              <li class="nav-item" >
                <%= link_to t('LineItems'), line_items_path, class: 'btn btn-nature' -%>
              </li>
              <li class="nav-item" >
                <%= link_to t('Preferences'), preferences_path, class: 'btn btn-nature' -%>
              </li>
            </ul>
            <div id="menu_selector" >
              <%= form_with url: set_current_menus_path, method: :get do |form| %>
                <%= select_tag :menu_id, options_from_collection_for_select(
                    Menu.ordered, :id, :name,
                    session[:menu].present? ? session[:menu]['id'] : Menu.latest.id ),
                    include_blank: true,
                    id: :menu_selection, class: 'nav-item'
                %>
                <%= form.submit id: :set_current, class: :hidden %>
              <% end %>
            </div>
            <div id="logo" >
            <% if Rails.env.production? %>
              <img src="<%= image_path 'PremierLogoColor.png' %>" alt="Premier Logo Color" />
            <% else %>
              <br/>
              <%= Rails.env -%>
            <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-10 ml-sm-auto px-4 main" >
<%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
